<div class="card mt-3">
    <div class="card-header text-white bg-dark">
        <i class="fa fa-book mr-3" aria-hidden="true"></i><strong>Publishing Partners (Subject to approval)</strong>
    </div>
    <div class="card-block bg-light">
        <div class="d-flex flex-wrap justify-content-around align-items-center p-2">
            <img src="{{ '/assets/images/springer-logo-black-transparent.png' | relative_url }}" alt="Springer" class="img-fluid m-2" style="max-height: 60px;">
            <img src="{{ '/assets/images/CRC_Press_logo.png' | relative_url }}" alt="CRC Press" class="img-fluid m-2" style="max-height: 60px;">
            <p class="mb-2">In collaboration with <a href="https://maylancerpublishers.com/" target="_blank" rel="noopener">Maylancer Publishers</a></p>
            <a href="https://maylancerpublishers.com/" target="_blank" rel="noopener">
            <img src="{{ '/assets/images/maylancer.png' | relative_url }}" alt="Maylancer Publishers" class="img-fluid m-2" style="max-height: 120px;">
            </a>
        </div>
    </div>
</div>
